
.logo {
	width: 500px;
	height: 500px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	background-blend-mode: overlay;
	align-items: center;
}
.footer {
	position: absolute;
	right: 0;
	bottom: 0;
}
.swiper {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 5px;
	margin: 20px;
}

.swiper-slide {
	background-position: center;
	background-size: cover;
	height: 400px;
	width: 500px;
}

.swiper-slide img {
	height: auto;
	max-height: 300px;
	width: auto;
	max-width: 500px;
	/* display: block; */
	/* width: 100%; */
}
.swiper-div {
	display: flex;
	justify-content: center;
	align-items: center;
}
